
.menu-title {
  color: white;
  margin: 0;
  padding: 10px;
  align-items: center;
  padding: 10px;
  line-height: 1;
  font-size: 80px;
  display: flex;
  justify-content: center;
  }

.menu-bar {
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 60px;
  height: 60px;
  font-size: 30px;
  text-decoration: none;
}

body {
  background-color: rgb(188, 37, 37);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.card {
  background-color: #ff4040;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto ;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  color:white
  
}

.card-text {
  font-size: 14px;
  margin-top: 5px;
  color: #fffcfc;
}